<!-- Your Handlebars Template -->
<div class="container">
    <h1 class="mt-5 justify-content-center">Login</h1>
    <form id ="Login-form"class="form-col mt-5 justify-content-center p-5 ">
        <div class="Login-section">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder= {{user.name}}>
        </div>
        <div class="Login-section">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder= {{user.password}}>
        </div>
        <div class="Login-section">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" value="submit">Log in</button>
        </div>
        </div>
    </form>
</div>

